<div class="dashboard-creator">
  <div class="text label">Lab</div>

  <div class="labChooser">
    {{#power-select options=labs selected=selectedLab onchange=(action "selectLab") as |lab|}} {{lab.description}}
    {{/power-select}}
  </div>

  <div class="text label">Date</div>
  <div class="dateChooser">
    {{pikaday-input format="YYYY-MM-DD" placeholder="Select a date" minDate=minDate value=notification.deadline}}
  </div>

  <div class="timeChooser">
    {{#power-select options=timeSelection selected=selectedTime onchange=(action "selectTime") as |time|}} {{time}}
    {{/power-select}}
  </div>




  <div class="text label">Room</div>
  <div class="roomChooser">
    {{#power-select options=roomSelection selected=selectedRoom onchange=(action "selectRoom") as |room|}} {{room}}
    {{/power-select}}
  </div>

  <div class="text label">Teacher</div>
  <div class="teacherChooser">
    {{#power-select options=teacherSelection selected=selectedTeacher onchange=(action "selectTeacher") as |teacher|}} {{teacher}}
    {{/power-select}}
  </div>


  <button type="button">Save</button>

  {{#if edit}}
    <button type="button" class="cancel" {{action 'closeSettings'}}>Cancel</button>
  {{/if}}
</div>
