<div class="evaluation-student">
  <div class='text label'>Name</div>
  <div class="text">{{event.StudentRegistration.User.displayName}}</div>

  <div class='text label'>Neptun</div>
  <div class="text">{{event.StudentRegistration.User.neptun}}</div>

  <div class='text label'>e-mail</div>
  <div class="text">
    {{#if event.StudentRegistration.User.email}}
      {{event.StudentRegistration.User.email}}
    {{else}}
      No e-mail added.
    {{/if}}
  </div>

  <div class='text label'>Exercise type</div>
  <div class="text">{{event.ExerciseSheet.ExerciseType.shortName}}</div>

  <div class='text label'>Deadline</div>
  <div class="text">{{event.formattedDate}}</div>

  <div class='text label'>Entry test grade</div>
  {{input type=text value=event.firstEntryTest.grade placeholder="grade" }}

  <div class='text label'>Entry test finalized</div>
  <button type="button" class="btn--toggle {{if event.firstEntryTest.finalized 'active'}}" {{action 'toggleFinalized' event.firstEntryTest}}>
    {{#if event.firstEntryTest.finalized}}
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      {{else}}
      <i class="fa fa-square-o" aria-hidden="true"></i>
    {{/if}}
    finalized
  </button>

  {{#if event.firstCorrectableDeliverable.grade}}
    <div class='text label'>Exercise grade</div>
    <div class="text" id="afterreportgrade">
      {{event.firstCorrectableDeliverable.grade}} ({{event.firstCorrectableDeliverable.CorrectorName}})
    </div>

    <div class='text label'>Exercise comment</div>
    {{#if event.firstCorrectableDeliverable.comment}}
      <div class="text long">
        {{event.firstCorrectableDeliverable.comment}}
      </div>
    {{else}}
      <div class="text">No comment added.</div>
    {{/if}}

    <div class='text label'>Exercise imsc</div>
    <div class="text">
      {{#if event.firstCorrectableDeliverable.imsc}}
        {{event.firstCorrectableDeliverable.imsc}} point
      {{else}}
        No imsc point added.
      {{/if}}
    </div>
  {{else}}
    <div class='text label'>Exercise result</div>
    <div class="text">It has not been graded yet.</div>
  {{/if}}

  <div class="text label">Exercise file</div>
  {{#if event.firstCorrectableDeliverable.uploaded}}
    <div class="text"><a class="button" {{action 'download'}}>Download</a></div>
    <div class="text label">Exercise delayed</div>
    <div class="text">
      {{#if event.firstCorrectableDeliverable.isDelayed}}Yes, {{dateformat event.firstCorrectableDeliverable.lastSubmittedDate}}. {{else}}No. {{/if}}
    </div>
  {{else}}
    <div class="text">Not uploaded
      {{#if event.firstCorrectableDeliverable.isUploadable}}, but still can upload{{/if}}.</div>
  {{/if}}

  <div class='text label'>{{event.EventTemplate.name}} grade</div>
  {{input type=text value=event.grade placeholder="grade" }}

  <div class='text label'>{{event.EventTemplate.name}} comment</div>
  {{textarea value=event.comment cols="9" rows="9" placeholder="comment" }}

  <div class='text label'>{{event.EventTemplate.name}} imsc</div>
  {{input type=text value=event.imsc placeholder="imsc" }}

  <div class='text label'>{{event.EventTemplate.name}} finalized</div>
  <button type="button" class="btn--toggle {{if event.finalized 'active'}}" {{action 'toggleFinalized' event}}>
    {{#if event.finalized}}
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      {{else}}
      <i class="fa fa-square-o" aria-hidden="true"></i>
    {{/if}}
    finalized
  </button>

  <button type="button" {{action 'save'}}>Save</button>
  <button type="button" class="cancel" {{action 'cancel'}}>Cancel</button>
  {{#if success}}
    <div class="success-box">
      Saved successfully.
    </div>
  {{else}}
    {{#unless (or (eq error '') (eq error undefined))}}
      <div class="error-box">
        {{error}}
      </div>
    {{/unless}}
  {{/if}}
</div>
