<div class='text'>
  <span class='label'>Név</span> {{event.StudentRegistration.User.displayName}}
</div>

<div class="text">
  <span class='label'>Neptun</span> {{event.StudentRegistration.User.neptun}}
</div>

<div class="text">
  <span class='label'>e-mail</span>
  {{#if event.StudentRegistration.User.email}}
    {{event.StudentRegistration.User.email}}
  {{else}}
    Nincs e-mail megadva.
  {{/if}}
</div>

<div class="text">
  <span class='label'>Feladattípus</span> {{event.ExerciseSheet.ExerciseType.shortName}}
</div>

<div class="text">
  <span class='label'>Határidő</span> {{event.formattedDate}}
</div>

<div class="entry-test-evaluation">
  <div class='text label'>Beugró érdemjegye</div>
  {{input type=text value=event.firstEntryTest.grade placeholder="beugró érdemjegy" disabled=event.firstEntryTest.finalized}}

  <div class='text label'>Beugró véglegesítése</div>
  <button type="button" class="btn--toggle {{if event.firstEntryTest.finalized 'active'}}" {{action 'toggleFinalized' event.firstEntryTest}}>
      {{#if event.firstEntryTest.finalized}}
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        {{else}}
        <i class="fa fa-square-o" aria-hidden="true"></i>
      {{/if}}
      Véglegesítve
    </button>
</div>

{{#each event.correctableDeliverables as |deliverable|}}
  <div class="deliverable">
    {{#if deliverable.grade}}
      <div class="text" id="afterreportgrade">
        <span class='label'><strong>{{deliverable.description}}</strong> érdemjegy</span> {{deliverable.grade}} ({{deliverable.CorrectorName}} - {{deliverable.CorrectorEmail}})
      </div>

      {{#if deliverable.comment}}
        <div class='text label'><strong>{{deliverable.description}}</strong> megjegyzés</div>
        <div class="text long">
          {{deliverable.comment}}
        </div>
      {{else}}
        <div class="text">
          <span class='label'><strong>{{deliverable.description}}</strong> megjegyzés</span> Nincs megjegyzés.
        </div>
      {{/if}}

      <div class="text">
        <span class='label'><strong>{{deliverable.description}}</strong> IMSc pont</span>
        {{#if deliverable.imsc}}
          {{deliverable.imsc}} pont
        {{else}}
          Nincs IMSc pont hozzáadva.
        {{/if}}
      </div>
    {{else}}
      <div class="text">
        <span class='label'>A <strong>{{deliverable.description}}</strong> eredménye</span> A <strong>{{deliverable.description}}</strong> még nincs értékelve.
      </div>
    {{/if}}


    <div class="text label">Fájl</div>
    {{#if deliverable.uploaded}}
      <a class="button" {{action 'download'}}>Letöltés</a>
      <div class="text">
        <span class='label'>Késve beadás</span>
        {{#if deliverable.isDelayed}}Igen, {{dateformat deliverable.lastSubmittedDate}}. {{else}}Nem. {{/if}}
      </div>
    {{else}}
      <div class="text">
        Jelenleg nincs feltöltve
        {{#if deliverable.isUploadable}}, de a hallgató még feltölthet{{/if}}.
      </div>
    {{/if}}
  </div>

{{/each}}

<div class="laboratory-evaluation">
  <div class='text label'>{{event.EventTemplate.name}} érdemjegy</div>
  {{input type=text value=event.grade placeholder="érdemjegy" disabled=event.finalized }}

  <div class='text label'>{{event.EventTemplate.name}} megjegyzés</div>
  {{textarea value=event.comment cols="9" rows="9" placeholder="megjegyzés" disabled=event.finalized }}

  <div class='text label'>{{event.EventTemplate.name}} IMSc</div>
  {{input type=text value=event.imsc placeholder="IMSc" disabled=event.finalized }}

  <div class='text label'>{{event.EventTemplate.name}} véglegesítése</div>
  <button type="button" class="btn--toggle {{if event.finalized 'active'}}" {{action 'toggleFinalized' event}}>
      {{#if event.finalized}}
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        {{else}}
        <i class="fa fa-square-o" aria-hidden="true"></i>
      {{/if}}
      Véglegesítve
    </button>
</div>

<button type="button" {{action 'save'}}>Mentés</button>
<button type="button" class="cancel" {{action 'cancel'}}>Mégse</button>
{{#if success}}
  <div class="success-box">
    Sikeres mentés
  </div>
{{else}}
  {{#unless (or (eq error '') (eq error undefined))}}
    <div class="error-box">
      {{error}}
    </div>
  {{/unless}}
{{/if}}
