<div class='directory-settings'>
  <div class="directory-fields">
    <div class="directory-field">
      <div class="text label">New password:</div>
      {{input type="text" value=newPwd placeholder='new password'}}
      <button {{action 'setNewPwd'}}>Set new password</button>
      {{#if successfullPwd}}
        <div class="success-box">Successfully set.</div>
      {{/if}}
    </div>

    <div class="directory-field">
      <div class="text label">New e-mail</div>
      {{input type="email" value=newEmail placeholder='new e-mail'}}
      <button {{action 'setNewEmail'}}>Set new e-mail</button>
      {{#if successfullEmail}}
        <div class="success-box">Successfully set.</div>
      {{/if}}
    </div>
    <div class="directory-field">
      <div class="text label">Impersonate</div>
      <button class="directory-form-button" {{action 'impersonateUser'}}>Impersonate user</button>
    </div>
  </div>
  <div class="text label">Roles</div>
  <div class="toggle-buttons">
    {{#each model.roles as |role|}}
      <button type="button" class="btn--toggle {{if (has-key currentRoles role.name) 'active'}}" {{action 'toggleRole' role}}>{{role.name}}</button>
    {{/each}}
  </div>

  {{#if isEvaluator}}
    <div class="directory-settings-evaluator">
      {{directory-settings-evaluator user=user model=model}}
    </div>
  {{/if}}
  {{#if isStudent}}
    <div class="directory-settings-student">
      {{directory-settings-student user=user model=model}}
    </div>
  {{/if}}
  <button type="button" class="save" {{action 'saveRoles'}}>Save</button>
      {{#if successfullRoles}}
        <div class="success-box">Successfully saved.</div>
      {{/if}}
  <button type="button" class="cancel" {{action 'closeSettings'}}>Back</button>
</div>
