<div class="text label">Feladattípusok</div>
<div class="toggle-buttons">
  {{#each model.exerciseTypes as |exerciseType|}}
    <button type="button" class="btn--toggle {{if (has-key currentTypes exerciseType.name) 'active'}}" {{action 'toggleType' exerciseType}}>
      {{#if (has-key currentTypes exerciseType.name)}}
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        {{else}}
        <i class="fa fa-square-o" aria-hidden="true"></i>
      {{/if}}
      {{exerciseType.shortName}}
      - ({{exerciseType.name}})
    </button>
  {{/each}}
</div>
