<div class="text">{{await semesterName}}</div>
{{#each (await StudentRegistration.Events) as |event|}}
  <div class="text label">{{dateformat event.date}} @ {{event.location}}</div>
  <div style="margin-left: 2em;">
    <div class="actions">
      {{#each event.Deliverables as |Deliverable|}}
        {{#if (eq Deliverable.DeliverableTemplate.type 'FILE')}}
          {{Deliverable.DeliverableTemplate.description}}
          <div style="margin-left: 1em;">
            {{staff-laboratory-upload Deliverable=Deliverable}}
            {{#if Deliverable.lastSubmittedDate}}
              {{staff-laboratory-time-change Deliverable=Deliverable}}
            {{/if}}
            <button type="button" disabled={{not Deliverable.finalized}} {{action 'definalize' Deliverable}}>Definalize</button>
            {{#if Deliverable.success}}
              <div class="success-box">
                Saved successfully.
              </div>
            {{else}}
              {{#unless (or (eq Deliverable.error '') (eq Deliverable.error undefined))}}
                <div class="error-box">
                  {{Deliverable.error}}
                </div>
              {{/unless}}
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
      <!--<button type="button" disabled= {{not lab.isEntrytestFinal}}>Beugrójegy törlése</button>
      <button type="button" disabled= {{not lab.isReportFinal}}>Jegyzőkönyvjegy törlése</button>
      <button type="button" disabled= {{not lab.isLaboratoryFinal}}>Laborjegy törlése</button>-->
    </div>
  </div>
{{/each}}
