<div class="entry-test-list">
  {{#if (eq question null)}}
    {{#unless (eq exerciseCategory null)}}
      {{table-component header=header body=getBody rowIndecies=rowIndecies withDelete=true withSettings=true openSettings=(action 'openSettings') delete=(action 'delete')}}
      <button {{action 'newQuestion'}}>Add new question</button>
      <a class="button">Print</a>
    {{else}}
      Choose an exercise category on the left.
    {{/unless}}
  {{else}}
    {{entry-test-creator question=question edit=true closeSettings=(action "closeSettings") model=model}}
  {{/if}}
</div>
