<div class="evaluation-student">
  <h4>Name</h4>
  <p>{{event.userName}}</p>

  <h4>Neptun</h4>
  <p>{{event.userNeptun}}</p>

  <h4>Exercise type</h4>
  <p>{{event.exerciseShortName}}</p>

  <h4>Deadline</h4>
  <p>{{event.formattedDate}}</p>

  <h4>Entry test grade</h4>
  {{input type=text value=event.firstEntryTest.grade placeholder="grade" }}

  <h4>Entry test imsc</h4>
  {{input type=text value=event.firstEntryTest.imsc placeholder="imsc" }}
  
  <h4>Entry test finalized</h4>
  <button type="button" class="btn--toggle {{if event.firstEntryTest.finalized 'active'}}" {{action 'toggleFinalized' event.firstEntryTest}}>finalized</button>

  <h4>Exercise grade</h4>
  <div class="text" id="afterreportgrade">{{event.firstCorrectableDeliverable.grade}} ({{await event.firstCorrectableDeliverable.CorrectorName}})</div>

  <h4>Exercise comment</h4>
  <div class="text long">
    {{event.firstCorrectableDeliverable.comment}}
  </div>

  <h4>{{event.EventTemplate.name}} grade</h4>
  {{input type=text value=event.grade placeholder="grade" }}

  <h4>{{event.EventTemplate.name}} comment</h4>
  {{textarea value=event.comment cols="9" rows="9" placeholder="comment" }}

  <h4>{{event.EventTemplate.name}} finalized</h4>
  <button type="button" class="btn--toggle {{if event.finalized 'active'}}" {{action 'toggleFinalized' event}}>finalized</button>

  <button type="button" {{action 'save'}}>Save</button>
  <button type="button" class="cancel" {{action 'cancel'}}>Cancel</button>
  {{#if success}}
    <div class="success-box">
      Saved successfully.
    </div>
  {{else}}
    {{#unless (or (eq error '') (eq error undefined))}}
      <div class="error-box">
        {{error}}
      </div>
    {{/unless}}
  {{/if}}
</div>
