<div class="login">
  <!--<div class="top">
    <button type="button" name="button" {{action 'loginBMERedirect'}}>Login with BME account</button>
  </div>-->
  <form class="bottom {{if hasError 'error'}}">
    {{input type="text" value=username placeholder="username" enter='removeError' }}
    {{input type="password" value=password placeholder="password" }}
    <button type="submit" name="button" {{action 'login'}}>Login</button>
    {{#if error}}
    <div class="error-box">
      {{error}}
    </div>
    {{/if}}
  </form>

</div>
