<div class="logo" title="laboradmin"><img src="assets/images/logo.png"></div>
<button type="button" class="menu-button" {{action 'toggleMenu'}}>Menü</button>
<nav class="{{if isMenuNotOpen 'hidden'}}">
  {{#if session.isAuthenticated}}
  <ul class="left">
    <!-- USER ROLE CHOOSER-->
    <li title='felhasználó modul váltása' class="wide">
      {{#power-select options=userRightLabels selected=currentRight onchange=(action "changeUserRight") as |userright|}}
        {{userright.value}}
      {{/power-select}}
    </li>

    <!-- LEFT MENU ITEMS-->
    {{#if (eq currentRight.key 'admin')}}
      {{#each adminMenu as |menuitem|}}
        <li class='min-width' title= {{menuitem.value}}>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
    {{#if (eq currentRight.key 'evaluator')}}
      {{#each evaluatorMenu as |menuitem|}}
        <li class='min-width' title= {{menuitem.value}}>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
    {{#if (eq currentRight.key 'demonstrator')}}
      {{#each demonstratorMenu as |menuitem|}}
        <li class='min-width' title= {{menuitem.value}}>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
    {{#if (eq currentRight.key 'student')}}
      {{#each studentMenu as |menuitem|}}
        <li class='min-width' title= {{menuitem.value}}>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
  </ul>
  <ul class="right">
    <li class='cogs'>
      {{#link-to 'settings' class='cogs' tagName='button' title='beállítások' }} <span class="mobile-only">beállítások</span> {{/link-to}}
    </li>
    <li>
      {{#link-to 'logout' class='sign-out' tagName='button' title='kijelentkezés' }} <span class="mobile-only">kijelentkezés</span> {{/link-to}}
    </li>
    <li>
      <div class="menu-text user">{{userData.displayName}} {{#if userData.neptun}}({{userData.neptun}}){{/if}}</div>
    </li>
  </ul>
  {{else}}
  <ul class="right">
    <li>
      {{#link-to 'login' class='sign-out' tagName='button' title='bejelentkezés' }} <span class="mobile-only">bejelentkezés</span> {{/link-to}}
    </li>
  </ul>
  {{/if}}
</nav>
