<div class="logo" title="laboradmin"><img src="assets/images/logo.svg"></div>
<button type="button" class="menu-button" {{action 'toggleMenu'}}>Menu</button>
<nav class="{{if isMenuNotOpen 'hidden'}}">
  {{#if session.isAuthenticated}}
  <ul class="left">
    {{#each userData.roles as |role|}}
      {{#each (get-array-element menu role) as |menuitem|}}
        <li class='min-width' title= {{menuitem.value}}>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/each}}
  </ul>
  <ul class="right">
    <li class='cogs'>
      {{#link-to 'settings' class='cogs' tagName='button' title='settings' }} <span class="mobile-only">Settings</span> {{/link-to}}
    </li>
    <li>
      {{#link-to 'logout' class='sign-out' tagName='button' title='log out' }} <span class="mobile-only">Log out</span> {{/link-to}}
    </li>
    <li class="username">
      <div class="menu-text user">{{userData.displayName}} {{#if userData.neptun}}({{userData.neptun}}){{/if}}</div>
    </li>
  </ul>
  {{else}}
  <ul class="left">
    <li class='bell-o'>
      {{#link-to 'news' class='bell-o' tagName='button' title='news' }} News {{/link-to}}
    </li>
  </ul>
  <ul class="right">
    <li>
      {{#link-to 'login' class='sign-in' tagName='button' title='login' }} Login {{/link-to}}
    </li>
  </ul>
  {{/if}}
</nav>
