<nav class="menu navbar navbar-default navbar-static-top">
  <div class="menu-text">laboradmin</div>
  <!-- LEFT MENU ITEMS-->
  <!-- THESE THESE SHOULD BE REMOVED-->
  <div class="pull-xs-left">
    <ul class="nav navbar-nav">
      <!-- USER ROLE CHOOSER-->
      <div class="btn-group menu-btn-group" role="group">
        <button id="btnGroupDrop2" type="button" class="navbar-btn dropdown-toggle menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose a user
                </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          {{#each userRightLabels as |userright|}}
            <button type="button" class="navbar-btn dropdown-item menu-button" {{action 'changeUserRight' userright}}>{{userright}}</button>
          {{/each}}
        </div>
      </div>
    </ul>
  </div>



  <!-- RIGHT MENU ITEMS-->
  <div class="pull-xs-right ">
    <div class="menu-text">{{username}}</div>
    <ul class="nav navbar-nav">
      <!-- BUTTONS BASED ON USER ROLE-->
      {{#each userRights as |right|}}
        {{#if (eq right 'admin')}}
          {{#each adminMenu as |menuitem|}}
            {{#link-to menuitem.key tagName='button' class="navbar-btn menu-button" }}{{menuitem.value}}{{/link-to}}
          {{/each}}
        {{/if}}
        {{#if (eq right 'evaluator')}}
          {{#each evaluatorMenu as |menuitem|}}
            {{#link-to menuitem.key tagName='button' class="navbar-btn menu-button" }}{{menuitem.value}}{{/link-to}}
          {{/each}}
        {{/if}}
        {{#if (eq right 'demonstrator')}}
          {{#each demonstratorMenu as |menuitem|}}
            {{#link-to menuitem.key tagName='button' class="navbar-btn menu-button" }}{{menuitem.value}}{{/link-to}}
          {{/each}}
        {{/if}}
        {{#if (eq right 'student')}}
          {{#each studentMenu as |menuitem|}}
            {{#link-to 'student' tagName='button' class="navbar-btn menu-button" }}{{menuitem.value}}{{/link-to}}
          {{/each}}
        {{/if}}
      {{/each}}
      <!-- BUTTONS EVERYONE SHOULD SEE-->
      {{#link-to 'settings' tagName='button' class="navbar-btn menu-button" }}Beállítások{{/link-to}}
      <button type="button" class="menu-button navbar-btn">Kijelentkezés</button>
    </ul>
  </div>
</nav>
