<div class="logo"><img src="assets/images/logo.png"></div>
<ul>
  <!-- USER ROLE CHOOSER-->
  <li>
    {{#power-select options=userRightLabels selected=currentRight onchange=(action "changeUserRight") as |userright|}}
      {{userright.value}}
    {{/power-select}}
  </li>

  <!-- LEFT MENU ITEMS-->
  {{!-- {{#each userRights as |right|}}
  --}} {{#if (eq currentRight.key 'admin')}}
    {{#each adminMenu as |menuitem|}}
      <li class='min-width'>
        {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
      </li>
    {{/each}}
    {{/if}}
    {{#if (eq currentRight.key 'evaluator')}}
      {{#each evaluatorMenu as |menuitem|}}
        <li class='min-width'>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
    {{#if (eq currentRight.key 'demonstrator')}}
      {{#each demonstratorMenu as |menuitem|}}
        <li class='min-width'>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
    {{#if (eq currentRight.key 'student')}}
      {{#each studentMenu as |menuitem|}}
        <li class='min-width'>
          {{#link-to menuitem.key tagName='button' class=menuitem.icon }} {{menuitem.value}}{{/link-to}}
        </li>
      {{/each}}
    {{/if}}
    {{!-- {{/each}}
    --}} <!-- RIGHT MENU ITEMS-->

      <!-- BUTTONS BASED ON USER ROLE-->
      <!-- BUTTONS EVERYONE SHOULD SEE-->

      <li class='right'>
        <button  class='sign-out'></button>
      </li>
      <li class='right cogs'>
        {{#link-to 'settings' class='cogs' tagName='button' }}{{/link-to}}
      </li>
      <li class='right'>
        <div class="menu-text user">{{username}}</div>
      </li>
</ul>
