<div class="text label">Name</div>
{{input type="text" value=user.displayName placeholder="name"}}
<div class="text label">Neptun</div>
{{input type="text" value=user.neptun placeholder="neptun"}}
<div class="text label">username</div>
{{input type="text" value=user.loginName placeholder="username"}}
<div class="text label">Password</div>
{{input type="password" value=user.newpwd placeholder="password"}}
<button type="button" {{action 'create'}}>Create</button>

{{#if error}}
<div class="error-box">
  {{error}}
</div>
{{/if}}
{{#if success}}
<div class="success-box">
  Created successfully.
</div>
{{/if}}
