<div class="notification-creator">
  <div class="text label">Sender</div>
  <div class="text">{{sender}}</div>

  <div class="text label">Title</div>
  {{input type="type" value=notification.title}}

  <div class="text label">Dátum</div>
  <div class="text">{{startingDate}}</div>

  <div class="text label">Deadline</div>
  {{pikaday-input format="YYYY-MM-DD" placeholder="Select a date" minDate=minDate value=notification.deadline}}

  <div class="text label">Who can see it</div>
  <div class="toggle-buttons">
    <button type="button" class="btn--toggle {{if admins 'active'}}" {{action 'toggleAdmins'}}>Admins</button>
    <button type="button" class="btn--toggle {{if students 'active'}}" {{action 'toggleStudents'}}>Students</button>
    <button type="button" class="btn--toggle {{if demonstrators 'active'}}" {{action 'toggleDemonstrators'}}>Demonstrators</button>
    <button type="button" class="btn--toggle {{if evaluators 'active'}}" {{action 'toggleEvaluators'}}>Evaluators</button>
    <button type="button" class="btn--toggle {{if onLogin 'active'}}" {{action 'toggleLogin'}}>On Login</button>
  </div>

  <div class="text label">Message</div>
  {{textarea value=notification.message cols="9" rows="9" }}

  <button type="button">Mentés</button>
  {{#if edit}}
    <button type="button" class="cancel" {{action 'closeSettings'}}>Cancel</button>
  {{/if}}
</div>
