<div class="notification-creator">
  {{#unless new}}
    <div class="text label">Publisher</div>
    <div class="text">{{await notification.publisherName}}</div>
    <div class="text label">Published</div>
    <div class="text">{{notification.publishedFormatted}}</div>
  {{/unless}}

  <div class="text label">Title</div>
  {{input type="type" value=notification.title placeholder='title'}}

  <div class="text label">Shown from-to</div>
  {{pikaday-input format="YYYY-MM-DD" placeholder="From" maxDate=notification.to value=notification.from}}
  {{pikaday-input format="YYYY-MM-DD" placeholder="Until" minDate=notification.from value=notification.until}}

  <div class="text label">Who can see it</div>
  <div class="toggle-buttons">
    <button type="button" class="btn--toggle {{if notification.admins 'active'}}" {{action 'toggleAdmins'}}>Admins</button>
    <button type="button" class="btn--toggle {{if notification.students 'active'}}" {{action 'toggleStudents'}}>Students</button>
    <button type="button" class="btn--toggle {{if notification.demonstators 'active'}}" {{action 'toggleDemonstrators'}}>Demonstrators</button>
    <button type="button" class="btn--toggle {{if notification.evaluators 'active'}}" {{action 'toggleEvaluators'}}>Evaluators</button>
    <button type="button" class="btn--toggle {{if notification.onLogin 'active'}}" {{action 'toggleLogin'}}>On Login</button>
  </div>

  <div class="text label">Message</div>
  {{textarea value=notification.text cols="9" rows="9" placeholder='message'}}

  <button type="button" {{action 'saveSettings'}}>Mentés</button>
  {{#if edit}}
    <button type="button" class="cancel" {{action 'closeSettings'}}>Cancel</button>
  {{/if}}
</div>
