<div class='student-laboratory'>
  <div class="text label">Helyszín</div>
  <div class="text">{{result.location}}</div>
  <div class="text label">Időpont</div>
  <div class="text">{{result.time}}</div>
  <div class="text label">Laborvezető</div>
  <div class="text">{{result.demonstrator}}</div>

  {{#if (eq result.statusCode 'during')}}
    <div class="text label">Beugró</div>
    <div class="text">
      {{result.entrytest}} ({{result.demonstrator}})</div>
    <div class="text label">
      Hátralévő idő
    </div>
    <div class="text">
      {{timeLeft}} ({{result.deadline}})
    </div>
    <div class="text label">
      Git repository URL
    </div>
    <div class="text">
      {{result.repository}}
    </div>
    <div class="text label">
      Végleges tag
    </div>
    {{#power-select options=result.commits selected=result.finalcommit onchange=(action "selectCommit") as |commit|}}
      {{commit}}
    {{/power-select}}
  {{/if}}

  {{#if (eq result.statusCode 'after')}}
    <div class="text label">
      Beugró érdemjegye
    </div>
    <div class="text">
      {{result.entrytest}} ({{result.demonstrator}})
    </div>
    <div class="text label">
      Jegyzőkönyv érdemjegye
    </div>
    <div class="text" id="afterreportgrade">
      {{result.report.grade}} ({{result.report.evaluator}})
    </div>
    <div class="text label">
      Jegyzőkönyv megjegyzés
    </div>
    <div class="text long">
      {{result.report.review}}
    </div>
    <div class="text label">
      Labor érdemjegye
    </div>
    <div class="text" id="afterlaboratorygrade">
      {{result.laboratory.grade}} ({{result.demonstrator}})
    </div>
    <div class="text label">
      Labor megjegyzés
    </div>
    <div class="text long">
      {{result.laboratory.review}}
    </div>
  {{/if}}

</div>
