{{#if Deliverable.isUploadable}}
  <div class="text label">Upload {{Deliverable.DeliverableTemplate.description}}</div>
  {{file-uploader-box url=Deliverable.uploadUrl started=(action 'uploadStarted') success=(action 'uploadSuccess') failed=(action 'uploadFailed')}}

  {{#if Deliverable.uploaded}}
    {{#if success}}
      <div class="success-box">
        Uploaded succesfully.
      </div>
    {{else}}
      {{#unless (eq error '')}}
        <div class="error-box">
          {{error}}
        </div>
      {{/unless}}
    {{/if}}
  {{/if}}
{{/if}}
{{#if Deliverable.uploaded}}
  <div class="text label">Download {{Deliverable.DeliverableTemplate.description}}</div>
  <a class="button" {{action 'download'}}>Download</a>
  <div class="text">
    <span class="label">{{Deliverable.DeliverableTemplate.description}} Uploaded at</span>
    {{dateformat Deliverable.lastSubmittedDate}}
  </div>
  {{#if Deliverable.isDelayed}}
    <div class="text">
      <span class='label'>Lateness</span>
       {{Deliverable.delayCalculation}} hours
    </div>
  {{/if}}
{{/if}}
