<div class='student-laboratory'>
    <div class='title'>{{result.description}}</div>
    <div class='student-laboratory-table'>
        <table class='table-striped table-sm table-bordered'>
            <tbody>
                <tr>
                    <td class="td-right td-bold">Helyszín</td>
                    <td class="td-left">{{result.location}}</td>
                </tr>
                <tr>
                    <td class="td-right td-bold">Időpont</td>
                    <td class="td-left">{{result.time}}</td>
                </tr>
                <tr>
                    <td class="td-right td-bold">Laborvezető</td>
                    <td class="td-left">{{result.demonstrator}}</td>
                </tr>

                {{#if (eq result.statusCode 'during')}}
                    <tr>
                        <td class="td-right td-bold">Beugró</td>
                        <td class="td-left">{{result.entrytest}} ({{result.demonstrator}})</td>
                    </tr>
                    <tr>
                        <td class="td-right td-bold">Hátralévő idő</td>
                        <td class="td-left">{{timeLeft}} ({{result.deadline}})</td>
                    </tr>
                    <tr>
                        <td class="td-right td-bold">Git repository URL</td>
                        <td class="td-left">{{result.repository}}</td>
                    </tr>

                    <tr>
                        <td class="td-right td-bold">Végleges commit</td>
                        <td class="td-left">
                            {{#power-select options=result.commits selected=result.finalcommit onchange=(action "selectCommit") as |commit|}}
                                {{commit}}
                            {{/power-select}}
                        </td>
                    </tr>
                {{/if}}

                {{#if (eq result.statusCode 'after')}}
                    <tr>
                        <td class="td-right td-bold">Beugró</td>
                        <td class="td-left">{{result.entrytest}} ({{result.demonstrator}})</td>
                    </tr>
                    <tr>
                        <td class="td-right td-bold">Jegyzőkönyv</td>
                        <td class="td-left" id="afterreportgrade">{{result.report.grade}} ({{result.report.evaluator}})</td>
                    </tr>
                    <tr>
                        <td class="td-middle" colspan="2">
                            {{result.report.review}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-right td-bold">Laborjegy</td>
                        <td class="td-left" id="afterlaboratorygrade">{{result.laboratory.grade}} ({{result.demonstrator}})</td>
                    </tr>
                    <tr>
                        <td class="td-middle" colspan="2">
                            {{result.laboratory.review}}
                        </td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
