<div class='student-laboratory'>
  <h4>Helyszín</h4>
  <p>{{result.location}}</p>
  <h4>Időpont</h4>
  <p>{{dateformat result.date}}</p>
  <h4>Laborvezető</h4>
  <p>{{result.Demonstrator.displayName}} ({{result.Demonstrator.email}})</p>
  {{#each result.Deliverables as |Deliverable number|}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'BEUGRO')}}
      <h4>Beugró érdemjegye:</h4>
      <p>{{Deliverable.grade}}</p>
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'FILE')}}
      <h4>{{Deliverable.DeliverableTemplate.description}} határideje:</h4>
      <p>{{dateformat Deliverable.deadline}}</p>
      {{#if Deliverable.isOver}}
        <h4>{{Deliverable.DeliverableTemplate.description}} érdemjegye:</h4>
        <p>{{Deliverable.grade}}</p>
        <h4>{{Deliverable.DeliverableTemplate.description}} megjegyzés:</h4>
        <p>{{Deliverable.comment}}</p>
      {{else}}
        <h4>{{Deliverable.DeliverableTemplate.description}} feltöltése:</h4>
        {{student-laboratory-upload Deliverable=Deliverable}}
      {{/if}}
      {{#if Deliverable.uploaded}}
        <h4>{{Deliverable.DeliverableTemplate.description}} feltöltés ideje:</h4>
        <p>{{Deliverable.lastSubmittedDate}}</p>
      {{/if}}
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'GIT_REPO')}}
      {{#if Deliverable.isOver}}
        <h4>{{Deliverable.DeliverableTemplate.description}} feltöltve:</h4>
        <p>{{dateformat Deliverable.submitteddate}}</p>
        <h4>{{Deliverable.DeliverableTemplate.description}} érdemjegye:</h4>
        <p>{{Deliverable.grade}}</p>
        <h4>{{Deliverable.DeliverableTemplate.description}} megjegyzés:</h4>
        <p>{{Deliverable.comment}}</p>
      {{else}}
        <h4>{{Deliverable.DeliverableTemplate.description}} határidő:</h4>
        <p>{{dateformat Deliverable.deadline}}</p>
        <h4>Git:</h4>
        <p>{{Deliverable.url}}</p>
        <div class="tagSelector">
          {{#power-select options=Deliverable.commits selected=Deliverable.commit onchange=(action "selectCommit" Deliverable) as |commit|}}
          {{commit}}
          {{/power-select}}
        </div>
        {{#if Deliverable.success}}
          <div class="success-box">Sikeres mentés.</div>
        {{/if}}
        {{#if Deliverable.fail}}
          <div class="error-box">Sikertelen mentés.</div>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
</div>
