<div class='student-laboratory'>
  <div class="text label">Helyszín</div>
  <div class="text">{{result.location}}</div>
  <div class="text label">Időpont</div>
  <div class="text">{{dateformat result.date}}</div>
  <div class="text label">Laborvezető</div>
  <div class="text">{{result.Demonstrator.displayName}} ({{result.Demonstrator.email_official}})</div>
  {{#if result.comment}}
    <div class="text label">Laborvezetői megjegyzés</div>
    <div class="text">{{result.comment}}</div>
  {{/if}}
  <div class="text label">Feladat típus</div>
  <div class="text">{{await exerciseShortName}}</div>
  {{#each result.Deliverables as |Deliverable number|}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'BEUGRO')}}
      <div class="text label">Beugró érdemjegye:</div>
      {{#if Deliverable.finalized}}
        <div class="text">{{Deliverable.grade}}</div>
        {{#if Deliverable.comment}}
          <div class="text label">Beugró megjegyzés:</div>
          <div class="text">{{Deliverable.comment}}</div>
        {{/if}}
      {{else}}
        <div class="text">Még nincs értékelve.</div>
      {{/if}}
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'FILE')}}
      <div class="text label">{{Deliverable.DeliverableTemplate.description}} határideje:</div>
      <div class="text">{{dateformat Deliverable.deadline}} ({{timeLeft}})</div>
      {{student-laboratory-upload Deliverable=Deliverable}}
      <div class="text label">{{Deliverable.DeliverableTemplate.description}} érdemjegye:</div>
      {{#if Deliverable.finalized}}
        <div class="text">{{Deliverable.grade}}</div>
        {{#if Deliverable.comment}}
          <div class="text label">{{Deliverable.DeliverableTemplate.description}} megjegyzés:</div>
          <div class="text">{{Deliverable.comment}}</div>
        {{/if}}
      {{else}}
        <div class="text">Még nincs értékelve.</div>
      {{/if}}
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'GIT_REPO')}}
      {{#if Deliverable.isOver}}
        <div class="text label">{{Deliverable.DeliverableTemplate.description}} feltöltve:</div>
        <div class="text">{{dateformat Deliverable.lastSubmittedDate}}</div>
        <div class="text label">{{Deliverable.DeliverableTemplate.description}} érdemjegye:</div>
        {{#if Deliverable.finalized}}
          <div class="text">{{Deliverable.grade}}</div>
          {{#if Deliverable.comment}}
            <div class="text label">{{Deliverable.DeliverableTemplate.description}} megjegyzés:</div>
            <div class="text">{{Deliverable.comment}}</div>
          {{/if}}
        {{else}}
          <div class="text">Még nincs értékelve.</div>
        {{/if}}
      {{else}}
        <div class="text label">{{Deliverable.DeliverableTemplate.description}} határidő:</div>
        <div class="text">{{dateformat Deliverable.deadline}}</div>
        <div class="text label">Git:</div>
        <div class="text">{{Deliverable.url}}</div>
        <div class="tagSelector">
          {{#power-select options=Deliverable.commits selected=Deliverable.commit onchange=(action "selectCommit" Deliverable) as |commit|}}
          {{commit}}
          {{/power-select}}
        </div>
        {{#if Deliverable.success}}
          <div class="success-box">Sikeres mentés.</div>
        {{/if}}
        {{#if Deliverable.fail}}
          <div class="error-box">Sikertelen mentés.</div>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
  {{#if result.finalized}}
    <div class="text label">Végleges jegy</div>
    <div class="text">{{result.grade}}</div>
    <div class="text label">Imsc pontok</div>
    <div class="text">{{result.imsc}}</div>
  {{/if}}
</div>
