{{#if Deliverable.isUploadable}}
  <div class="text label">Upload {{Deliverable.DeliverableTemplate.description}}</div>
  {{file-uploader-box url=Deliverable.uploadUrl started=(action 'uploadStarted') success=(action 'uploadSuccess') failed=(action 'uploadFailed')}}

  {{#if Deliverable.uploaded}}
    {{#if success}}
      <div class="success-box">
        Uploaded succesfully.
      </div>
    {{else}}
      {{#unless (eq error '')}}
        <div class="error-box">
          {{error}}
        </div>
      {{/unless}}
    {{/if}}
    <div class="text label">Download {{Deliverable.DeliverableTemplate.description}}</div>
    <a class="button" {{action 'download'}}>Download</a>
    <div class="text label">{{Deliverable.DeliverableTemplate.description}} Uploaded at</div>
    <div class="text">{{dateformat Deliverable.lastSubmittedDate}}</div>
  {{/if}}


{{/if}}
