<div class='student-laboratory'>
  <div class="text label">Place</div>
  <div class="text">{{result.location}}</div>
  <div class="text label">Time</div>
  <div class="text">{{dateformat result.date}}</div>
  <div class="text label">Demonstrator</div>
  <div class="text">{{result.Demonstrator.displayName}} ({{result.Demonstrator.email_official}})</div>
  {{#if result.comment}}
    <div class="text label">Demonstrator comment</div>
    <div class="text long">{{result.comment}}</div>
  {{/if}}
  <div class="text label">Exercise type</div>
  <div class="text">{{await exerciseShortName}}</div>
  {{#each result.Deliverables as |Deliverable number|}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'BEUGRO')}}
      <div class="text label">Entry test grade:</div>
      {{#if Deliverable.finalized}}
        <div class="text">{{Deliverable.grade}}</div>
        {{#if Deliverable.comment}}
          <div class="text label">Entry test comment:</div>
          <div class="text long">{{Deliverable.comment}}</div>
        {{/if}}
      {{else}}
        <div class="text">It has not been graded yet.</div>
      {{/if}}
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'FILE')}}
      <div class="text label">{{Deliverable.DeliverableTemplate.description}} deadline:</div>
      <div class="text">{{dateformat Deliverable.deadline}} ({{timeLeft}})</div>
      <div class="text label">{{Deliverable.DeliverableTemplate.description}} evaluator:</div>
      <div class="text">{{Deliverable.CorrectorName}} ({{Deliverable.CorrectorEmail}})</div>
      {{student-laboratory-upload Deliverable=Deliverable}}
      <div class="text label">{{Deliverable.DeliverableTemplate.description}} grade:</div>
      {{#if Deliverable.finalized}}
        <div class="text">{{Deliverable.grade}}</div>
        {{#if Deliverable.comment}}
          <div class="text label">{{Deliverable.DeliverableTemplate.description}} comment:</div>
          <div class="text long">{{Deliverable.comment}}</div>
        {{/if}}
      {{else}}
        <div class="text">It has not been graded yet.</div>
      {{/if}}
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'GIT_REPO')}}
      {{#if Deliverable.isOver}}
        <div class="text label">{{Deliverable.DeliverableTemplate.description}} uploaded at:</div>
        <div class="text">{{dateformat Deliverable.lastSubmittedDate}}</div>
        <div class="text label">{{Deliverable.DeliverableTemplate.description}} grade:</div>
        {{#if Deliverable.finalized}}
          <div class="text">{{Deliverable.grade}}</div>
          {{#if Deliverable.comment}}
            <div class="text label">{{Deliverable.DeliverableTemplate.description}} comment:</div>
            <div class="text long">{{Deliverable.comment}}</div>
          {{/if}}
        {{else}}
          <div class="text">It has not been graded yet.</div>
        {{/if}}
      {{else}}
        <div class="text label">{{Deliverable.DeliverableTemplate.description}} deadline:</div>
        <div class="text">{{dateformat Deliverable.deadline}}</div>
        <div class="text label">Git:</div>
        <div class="text">{{Deliverable.url}}</div>
        <div class="tagSelector">
          {{#power-select options=Deliverable.commits selected=Deliverable.commit onchange=(action "selectCommit" Deliverable) as |commit|}}
          {{commit}}
          {{/power-select}}
        </div>
        {{#if Deliverable.success}}
          <div class="success-box">Sikeres mentés.</div>
        {{/if}}
        {{#if Deliverable.fail}}
          <div class="error-box">Sikertelen mentés.</div>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
  {{#if result.finalized}}
    <div class="text label">Finalized grade</div>
    <div class="text">{{result.grade}}</div>
    <div class="text label">Imsc points</div>
    <div class="text">{{result.imsc}}</div>
  {{/if}}
</div>
