<div class='student-laboratory'>
  <h4>Helyszín</h4>
  <p>{{result.location}}</p>
  <h4>Időpont</h4>
  <p>{{dateformat result.date}}</p>
  <h4>Laborvezető</h4>
  <p>{{await result.Demonstrator.displayName}} ({{await result.Demonstrator.email}})</p>
  {{#each result.Deliverables as |Deliverable number|}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'BEUGRO')}}
    <h4>{{Deliverable.DeliverableTemplate.description}} érdemjegye:</h4>
    <p>{{Deliverable.grade}}</p>
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'GIT_REPO')}}
      {{#if Deliverable.isOver}}
      <h4>{{Deliverable.DeliverableTemplate.description}} feltöltve:</h4>
      <p>{{dateformat Deliverable.submittedDate}}</p>
      <h4>{{Deliverable.DeliverableTemplate.description}} érdemjegye:</h4>
      <p>{{Deliverable.grade or 'Még nincs értékelve.'}}</p>
      <h4>{{Deliverable.DeliverableTemplate.description}} megjegyzés:</h4>
      <p>{{Deliverable.comment}}</p>
      {{else}}
      <h4>{{Deliverable.DeliverableTemplate.description}} határidő:</h4>
      <p>{{dateformat Deliverable.deadline}}</p>
      {{/if}}
      <p><strong>Git:</strong> {{Deliverable.url}} {{Deliverable.commit}}</p>
      <div class="tagSelector">
        {{#power-select options=result.commits selected=result.finalcommit onchange=(action "selectCommit") as |commit|}}
        {{commit}}
        {{/power-select}}
      </div>
    {{/if}}
    {{#if (eq Deliverable.DeliverableTemplate.type 'LABOR')}}
      {{#if Deliverable.isOver}}
      <h4>{{Deliverable.DeliverableTemplate.description}} érdemjegye:</h4>
      <p>{{Deliverable.grade or 'Még nincs értékelve.'}}</p>
      <h4>{{Deliverable.DeliverableTemplate.description}} megjegyzés:</h4>
      <p>{{Deliverable.comment}}</p>
      {{/if}}
    {{/if}}
  {{/each}}

  {{#if (eq result.statusCode 'after')}}
    <div class="text label">
      Beugró érdemjegye
    </div>
    <div class="text">
      {{result.entrytest}} ({{result.demonstrator}})
    </div>
    <div class="text label">
      Jegyzőkönyv érdemjegye
    </div>
    <div class="text" id="afterreportgrade">
      {{result.report.grade}} ({{result.report.evaluator}})
    </div>
    <div class="text label">
      Jegyzőkönyv megjegyzés
    </div>
    <div class="text long">
      {{result.report.review}}
    </div>
    <div class="text label">
      Labor érdemjegye
    </div>
    <div class="text" id="afterlaboratorygrade">
      {{result.laboratory.grade}} ({{result.demonstrator}})
    </div>
    <div class="text label">
      Labor megjegyzés
    </div>
    <div class="text long">
      {{result.laboratory.review}}
    </div>
  {{/if}}
</div>
