<div class= {{addClass}}>
    <table class='table table-striped table-bordered table-hover'>
        <thead class="thead-inverse">
            {{#unless withoutNumber}}
                <th>#</th>
            {{/unless}}
            {{#each header as |head|}}
                <th>{{head}}</th>
            {{/each}}
        </thead>
        <tbody>
            {{#each body as |row number|}}
                <tr {{action 'onRowClick' (get-array-element body number)}}>
                    {{#unless withoutNumber}}
                        <th scope='row'>{{add number}}</th>
                    {{/unless}}
                    {{#each row as |cell|}}
                        <td>{{cell}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>
