<div class="content dashboard">
  <div class="left">
    <div class="title">Mérések</div>
    <div class="submenu">
      <ul>
        {{#each subMenu as |menu|}}
          <li>
            <a class="submenu-text {{if (eq menu.key currentView) 'active'}}" {{action 'goToView' menu.key}}>
              {{menu.description}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="dashboard">
      {{#if (eq currentView 'creator')}}
        {{dashboard-creator}}
      {{else}}
        {{dashboard-view}}
      {{/if}}
    </div>
  </div>
</div>
