<div class="content demonstrator">
  <div class="left">
    <div class="title">Demonstrátor</div>
    <div class="submenu">
      <ul>
        {{#each subMenu as |menu|}}
          <li>
            <a class="submenu-text {{if (eq menu.key currentView) 'active'}}" {{action 'goToView' menu.key}}>
              {{menu.description}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="demonstrator">
      {{#unless evaluate}}
        {{demonstrator-group currentLab=currentView evaluateStudent=(action 'evaluateStudent')}}
      {{/unless}}
      {{#if evaluate}}
        {{evaluation-student student=evaluate mode='demonstrator' cancel=(action 'cancel')}}
      {{/if}}
    </div>
  </div>
</div>
