<div class="content demonstrator">
  {{left-menu title="Demonstrator" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="demonstrator">
      {{#unless currentView}}
        <div class='text'>Select an event on the left.</div>
      {{else}}
        {{#unless selectedEvent}}
          {{demonstrator-group currentEventTemplate=currentView evaluateEvent=(action 'evaluateEvent')}}
        {{else}}
          {{demonstrator-student event=selectedEvent mode='demonstrator' cancel=(action 'cancel')}}
        {{/unless}}
      {{/unless}}
    </div>
  </div>
</div>
