<div class="content directory">
  <div class="left directory">
    <div class="title">Felhasználók</div>
  </div>
  <div class="right">
    <div class="directory">
      <div class="directory-search-fields">
        <div class="text label">Név</div>
        {{input type="text" value=searchName }}

        <div class="text label">Login</div>
        {{input type="text" value=searchLogin }}

        <div class="text label">Azonosító</div>
        {{input type="text" value=searchId }}

        <button {{action 'showTable'}}>Keresés</button>
      </div>

      {{#if showTable}}
        <div class="directory-table">
          {{table-component header=model.header body=model.body addClass='user-table' onClickRowAction='showUserDetails' clickable=true showUserDetails=(action "showUserDetails") withoutnumber=false withSettings=true}}
        </div>
      {{/if}}

    </div>
  </div>
</div>
