<div class="middle">
    <div class="directory">
        <div class="title">Felhasználók</div>
        <div class="directory-search-fields">
            <div class="directory-search-field">
                <label class="label">Név</label>
                {{input class="" type="text" value=searchName }}
            </div>
            <div class="directory-search-field">
                <label class="label">Login</label>
                {{input class="" type="text" value=searchLogin }}
            </div>
            <div class="directory-search-field">
                <label class="label">Azonosító</label>
                {{input class="" type="text" value=searchId }}
            </div>
            <div class="directory-search-field-button">
                <button class="" {{action 'showTable'}}>Keresés</button>
            </div>
        </div>
        <div class="directory-table">
            {{#if showTable}}
                {{table-component header=model.header body=model.body addClass='user-table' onClickRowAction='showUserDetails' clickable=true showUserDetails=(action "showUserDetails" withoutnumber=false)}}
            {{/if}}
        </div>
        {{#if showPopUp}}
            {{directory-popup header=model.header userDetails=model.userDetails homeworkTypes=model.homeworkTypes onCloseAction='destroyUserDetails' destroyUserDetails=(action "destroyUserDetails")}}
        {{/if}}
    </div>
</div>
