<div class="content evaluator">
  {{left-menu title="Javító" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="evaluator">
      {{#unless currentView}}
        <div class="text">Egy beadandó kiválasztása a <em>Javítandó kiválasztása</em> menüpontban lehetséges. <br> A javítás megkezdése illetve a kijavított beadandók megtekintése a <em>Javítás és kijavított feladatok</em> menüpontból érhető el.
        </div>
      {{/unless}}
      {{#if (eq currentView 'select')}}
        {{#unless selectedDeliverable}}
            <div class="text label">Feladattípus:</div>
            {{#power-select options=myExerciseTypes selected=selectedExerciseType onchange=(action "changeExerciseType") as |eT|}}
              {{eT.shortName}}
            {{/power-select}}
            <div class="text label">Labor kód:</div>
            {{#power-select options=model.eventTemplates selected=selectedEventTemplate onchange=(action "changeEventTemplate") as |eT|}}
              {{eT.ExerciseCategory.type}}
            {{/power-select}}
            {{#if selectedEventTemplate}}
              <div class="text label">Beadandó típusa:</div>
              {{#power-select options=(filter-deliverable-templates selectedEventTemplate.DeliverableTemplates) selected=selectedDeliverableTemplate onchange=(action "changeDeliverableTemplate") as |dT|}}
                {{dT.description}}
              {{/power-select}}
            {{/if}}
          {{!-- <div class="text label">Beadandók:</div> --}}
          {{table-component header=header body=filteredDeliverablesSelect rowIndecies=rowIndecies clickable=true changeEvent=(action 'changeDeliverable') onClickRowAction='changeEvent'}}
          <a class="button" {{action 'loadFilteredDeliverablesForSelect'}}>Továbbiak betöltése</a>
        {{else}}
          <div class="breadcrumb">
            <button {{action 'back'}}><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            {{selectedEventUser.displayName}} ({{selectedEventUser.neptun}}) / {{selectedEvent.EventTemplate.ExerciseCategory.type}} / {{selectedDeliverable.DeliverableTemplate.description}}
          </div>
              {{#if selectedEventUser.email}}
            <div class="text">
              <span class="label">Hallgató e-mail címe</span>
                {{selectedEventUser.email}}
            </div>
              {{/if}}

            <div class="text">
                <span class="label">Demonstrátor</span>
              {{selectedEventDemonstrator.displayName}} ({{selectedEventDemonstrator.email_official}})</div>
            <div class="text">
              <span class="label">Feladattípus</span>
              {{selectedEvent.ExerciseSheet.ExerciseType.shortName}}
            </div>

          <div class="text">
            <span class="label">Határidő</span>
            {{dateformat selectedDeliverable.deadline}}
          </div>
          {{#if selectedDeliverable.isOver}}
            <div class="text label">Fájl</div>
            {{#if selectedDeliverable.uploaded}}
              <div class="text">
                <a class="button" {{action 'download'}}>Letöltés</a>
                <a class="button akep" target="_blank" href="https://ertekelo-dev.db.bme.hu/#AKEPView/{{selectedEventUser.neptun}}/{{selectedEvent.EventTemplate.ExerciseCategory.type}}">AKÉP</a>
              </div>
              <div class="text">
                <span class='label'>Feltöltés ideje</span>
                {{dateformat selectedDeliverable.lastSubmittedDate}}
              </div>
            {{else}}
              <div class="text">Nincs feltölve.</div>
            {{/if}}
            <div class="text">
              <span class="label">Javítandó kiválasztása</span>
              {{#unless (eq selectedDeliverable.Corrector.id model.user.id)}}
                {{#if selectedDeliverable.Corrector.id}}
                  Ezt a beadandót valaki más már lefoglalta.
                {{else}}
                  Ezt a beadandót még nem foglalták le.
                  <button type="button" {{action 'book'}}>Foglalás</button>
                {{/if}}
              {{else}}
                Ezt a beadandót sikeresen lefoglaltad. A javítást a <em>Javítás és kijavított feladatok</em> menüponton keresztül kezdheted meg.
              {{/unless}}
            </div>
            {{#if success}}
              <div class="success-box">
                Sikeres mentés.
              </div>
            {{else}}
              {{#unless (or (eq error '') (eq error undefined))}}
                <div class="error-box">
                  {{error}}
                </div>
              {{/unless}}
            {{/if}}
          {{else}}
            <div class="text">Még nem járt le a határidő.</div>
          {{/if}}
        {{/unless}}
      {{/if}}
      {{#if (eq currentView 'grading')}}
        {{#unless selectedDeliverable}}
            <div class="text label">Labor kód:</div>
            {{#power-select options=model.eventTemplates selected=selectedEventTemplate onchange=(action "changeEventTemplate") as |eT|}}
              {{eT.ExerciseCategory.type}}
            {{/power-select}}
            <div class="text label">Szűrés:</div>
          {{#power-select options=deliverableFilters selected=selectedDeliverableFilter onchange=(action "changeDeliverableFilter") as |filter|}}
            {{filter.value}}
          {{/power-select}}
          {{#if filteredDeliverables}}
            {{table-component header=headerGrading body=filteredDeliverables rowIndecies=rowIndeciesGrading clickable=true changeEvent=(action 'changeDeliverable') onClickRowAction='changeEvent'}}
            <a class="button" {{action 'loadFilteredDeliverablesForGrading'}}>Továbbiak betöltése</a>
          {{else}}
            <div class="text">Nincs megjeleníthető beadandó.</div>
            <a class="button" {{action 'changeDeliverableFilter' selectedDeliverableFilter}}>Frissítés</a>
          {{/if}}
        {{else}}
          <div class="breadcrumb">
            <button {{action 'backFromGrading'}}><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          </div>
          {{#unless (or (eq selectedDeliverable.Corrector.id model.user.id) selectedDeliverable.finalized)}}
            <div class="text">
              Egy beadandó kiválasztása a <em>Javítandó kiválasztása</em> menüpontban lehetséges. <br> A javítás megkezdése illetve a kijavított beadandók megtekintése a <em>Javítás és kijavított feladatok</em> menüpontból érhető el.
            </div>
          {{else}}
            {{#unless selectedDeliverable.finalized}}
              <button type="button" {{action 'unbook'}}>Foglalás feloldása</button>
            {{/unless}}
            <div class="text">
              <span class="label">Labor kódja és beadandó típusa</span>
              {{selectedEvent.EventTemplate.name}};  {{selectedDeliverable.DeliverableTemplate.description}}
            </div>
            <div class="text">
              <span class="label">Feladattípus</span>
              {{selectedEvent.ExerciseSheet.ExerciseType.shortName}}
            </div>
            <div class="text">
              <span class="label">Hallgató</span>

              {{selectedEventUser.displayName}} - {{selectedEventUser.neptun}}
              {{#if selectedEventUser.email}}
                ({{selectedEventUser.email}})
              {{/if}}
            </div>
            <div class="text">
              <span class="label">Demonstrátor</span>
              {{selectedEventDemonstrator.displayName}} ({{selectedEventDemonstrator.email_official}})</div>
            <div class="text">
              <span class='label'>Feltöltés ideje</span>
              {{dateformat selectedDeliverable.lastSubmittedDate}}
            </div>
            <div class="text">
              <span class="label">Határidő</span>
              {{dateformat selectedDeliverable.deadline}}
            </div>
            {{#if selectedDeliverable.isDelayed}}
              <div class="text">
                <span class='label'>Késés</span>
                 {{selectedDeliverable.delayCalculation}} óra
              </div>
            {{/if}}

            <div class="text label">Fájl</div>
            {{#if selectedDeliverable.uploaded}}
            <div class="text"><a class="button" {{action 'download'}}>Letöltés</a> <a class="button akep" target="_blank" href="https://ertekelo-dev.db.bme.hu/#AKEPView/{{selectedEventUser.neptun}}/{{selectedEvent.EventTemplate.ExerciseCategory.type}}">AKÉP</a></div>
            {{else}}
            <div class="text">Nincs feltöltve.</div>
            {{/if}}
            <div class="text label">Érdemjegy</div>
            {{input type=nubmer value=selectedDeliverable.grade placeholder="érdemjegy" disabled=selectedDeliverable.finalized disabled=selectedDeliverable.finalized}}
            <div class="text label">Megjegyzés</div>
            {{textarea value=selectedDeliverable.comment cols="9" rows="9" placeholder="megjegyzés" disabled=selectedDeliverable.finalized disabled=selectedDeliverable.finalized}}
            <div class="text label">IMSc</div>
            {{input type=nubmer value=selectedDeliverable.imsc placeholder="IMSc" disabled=selectedDeliverable.finalized disabled=selectedDeliverable.finalized}}
            {{#if selectedDeliverable.finalized}}
              <div class="text">Véglegesítve. Amennyiben ezen változtatni szeretnél, kérd egy admin segítségét!</div>
            {{else}}
              <button type="button" {{action 'save'}}>Javítás véglegesítése</button>
              <button class="button-with-distance" type="button" {{action 'save' false}}>Javítás mentése</button>
            {{/if}}
            {{#if success}}
              <div class="success-box">
                Sikeres mentés
              </div>
            {{else}}
              {{#unless (or (eq error '') (eq error undefined))}}
                <div class="error-box">
                  {{error}}
                </div>
              {{/unless}}
            {{/if}}
          {{/unless}}
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>
