<div class="content evaluator">
  {{left-menu title="Corrector" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <div class="evaluator">
      {{#unless currentView}}
        <div class="text label">Help</div>
        <div class="text">First select a deliverable for grading. If you are accepted then you can correct it from the grading menu.</div>
      {{/unless}}
      {{#if (eq currentView 'select')}}
        {{#unless selectedDeliverable}}
            <div class="text label">Exercise type:</div>
            {{#power-select options=myExerciseTypes selected=selectedExerciseType onchange=(action "changeExerciseType") as |eT|}}
              {{eT.shortName}}
            {{/power-select}}
            <div class="text label">Exercise category:</div>
            {{#power-select options=model.eventTemplates selected=selectedEventTemplate onchange=(action "changeEventTemplate") as |eT|}}
              {{eT.ExerciseCategory.type}}
            {{/power-select}}
            {{#if selectedEventTemplate}}
              <div class="text label">Deliverable template:</div>
              {{#power-select options=(filter-deliverable-templates selectedEventTemplate.DeliverableTemplates) selected=selectedDeliverableTemplate onchange=(action "changeDeliverableTemplate") as |dT|}}
                {{dT.description}}
              {{/power-select}}
            {{/if}}
          <div class="text label">Deliverables:</div>
          {{table-component withoutNumber=true header=header body=filteredDeliverablesSelect rowIndecies=rowIndecies clickable=true changeEvent=(action 'changeDeliverable') onClickRowAction='changeEvent'}}
          <a class="button" {{action 'loadFilteredDeliverablesForSelect'}}>Load more</a>
        {{else}}
          <div class="breadcrumb">
            <button {{action 'back'}}><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            {{selectedEventUser.displayName}} ({{selectedEventUser.neptun}}) / {{selectedEvent.EventTemplate.ExerciseCategory.type}} / {{selectedDeliverable.DeliverableTemplate.description}}
          </div>
          <div class="text label">Deadline</div>
          <div class="text">{{dateformat selectedDeliverable.deadline}}</div>
          {{#if selectedDeliverable.isOver}}
            <div class="text label">File</div>
            {{#if selectedDeliverable.uploaded}}
              <div class="text"><a class="button" {{action 'download'}}>Download</a></div>
            {{else}}
              <div class="text">Not uploaded.</div>
            {{/if}}
            <div class="text label">Select for grading</div>
            {{#unless (eq selectedDeliverable.Corrector.id model.user.id)}}
              {{#if selectedDeliverable.Corrector.id}}
                <div class="text">Sorry, someone else have chosen this for grading.</div>
              {{else}}
                <div class="text">Noone is selected.</div>
                <button type="button" {{action 'book'}}>Book</button>
              {{/if}}
            {{else}}
              <div class="text">You are selected for grading. Go to the grading menu to start grading.</div>
            {{/unless}}
            {{#if success}}
              <div class="success-box">
                Saved successfully.
              </div>
            {{else}}
              {{#unless (or (eq error '') (eq error undefined))}}
                <div class="error-box">
                  {{error}}
                </div>
              {{/unless}}
            {{/if}}
          {{else}}
            <div class="text">This event has not reached its deadline.</div>
          {{/if}}
        {{/unless}}
      {{/if}}
      {{#if (eq currentView 'grading')}}
        {{#unless selectedDeliverable}}
          {{#power-select options=deliverableFilters selected=selectedDeliverableFilter onchange=(action "changeDeliverableFilter") as |filter|}}
            {{filter.value}}
          {{/power-select}}
          {{#if filteredDeliverables}}
            {{table-component withoutNumber=true header=headerGrading body=filteredDeliverables rowIndecies=rowIndeciesGrading clickable=true changeEvent=(action 'changeDeliverable') onClickRowAction='changeEvent'}}
          {{else}}
            <div class="text">Nothing to show.</div>
          {{/if}}
          <a class="button" {{action 'changeDeliverableFilter'}}>Load more</a>
        {{else}}
          <div class="breadcrumb">
            <button {{action 'backFromGrading'}}><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          </div>
          {{#unless (or (eq selectedDeliverable.Corrector.id model.user.id) selectedDeliverable.finalized)}}
            <div class="text">
              Sorry, you have not been chosen for grading this. First select this for grading, go to the 'Select for grading' menu.
              Maybe the finalization has not been ended by other user. (BTW you should never see this message)
            </div>
          {{else}}
            {{#unless selectedDeliverable.finalized}}
              <button type="button" {{action 'unbook'}}>Unbook</button>
            {{/unless}}
            <div class="text label">Event name and deliverable description:</div>
            <div class="text">{{selectedEvent.EventTemplate.name}} {{selectedDeliverable.DeliverableTemplate.description}}</div>
            <div class="text label">Student</div>
            <div class="text">{{selectedEventUser.displayName}} ({{selectedEventUser.neptun}})</div>
            <div class="text label">Deadline</div>
            <div class="text">{{dateformat selectedDeliverable.deadline}}</div>
            <div class="text label">Delayed</div>
            <div class="text">{{#if selectedDeliverable.isDelayed}}Yes, {{dateformat selectedDeliverable.lastSubmittedDate}}. {{else}} No. {{/if}}</div>
            <div class="text label">File</div>
            {{#if selectedDeliverable.uploaded}}
            <div class="text"><a class="button" {{action 'download'}}>Download</a> <a class="button" target="_blank" href="https://ertekelo-dev.db.bme.hu/#AKEPView/{{selectedEventUser.neptun}}/{{selectedEvent.EventTemplate.ExerciseCategory.type}}">Akep</a></div>
            {{else}}
            <div class="text">Not uploaded.</div>
            {{/if}}
            <div class="text label">Grade</div>
            {{input type=nubmer value=selectedDeliverable.grade placeholder="grade" disabled=selectedDeliverable.finalized}}
            <div class="text label">Comment</div>
            {{textarea value=selectedDeliverable.comment cols="9" rows="9" placeholder="comment" disabled=selectedDeliverable.finalized}}
            <div class="text label">Imsc</div>
            {{input type=nubmer value=selectedDeliverable.imsc placeholder="imsc" disabled=selectedDeliverable.finalized}}
            {{#if selectedDeliverable.finalized}}
              <div class="text">Finalized. If you want to change ask the administrator.</div>
            {{else}}
              <button type="button" {{action 'save'}}>Finalize</button>
            {{/if}}
            {{#if success}}
              <div class="success-box">
                Saved successfully.
              </div>
            {{else}}
              {{#unless (or (eq error '') (eq error undefined))}}
                <div class="error-box">
                  {{error}}
                </div>
              {{/unless}}
            {{/if}}
          {{/unless}}
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>
