<div class="content entry-test">
  {{left-menu title="Event templates" currentView=selectedEventTemplate goToView=(action 'selectEventTemplate') subMenu=subMenu}}
  <div class="right">
    <div class="event-template">
      {{#if selectedEventTemplate}}
        <div class="title">{{selectedEventTemplate.name}}</div>
        <div class="text label">To generate deliverables press the button below</div>
        <button {{action 'generateDeliverables'}}>Generate</button>
        {{#if success}}
          <div class="success-box">
            Successfully generated.
          </div>
        {{/if}}
        {{#unless (or (eq error '') (eq error undefined))}}
          <div class="error-box">
            {{error}}
          </div>
        {{/unless}}
      {{else}}
        <div class="text"> Choose an event template on the left.
        </div>
      {{/if}}
    </div>
  </div>
</div>
