<div class="content notification">
  {{left-menu title="News"}}
  <div class="right">
    <div class="news">
        {{#each model as |news id|}}
        <div class="show-news-message">
          <div class="title news">{{news.title}} - {{await news.publisher.displayName}}</div>
          <div class="text long">{{news.publishedFormatted}} - {{news.untilFormatted}}</div>
          <div class="text long">{{news.text}}</div>
        </div>
          {{else}}
            <div class="text">Currently there are no news.</div>
        {{/each}}
    </div>
  </div>
</div>
