<div class="content notification">
  {{left-menu title="News"}}
  <div class="right">
    {{#each model as |news id|}}
      <div class="small">{{news.publishedFormatted}}</div>
      <h1>{{news.title}}</h1>
      <p>{{news.text}}</p>
      {{else}}
        <div class="text">Currently there are no news.</div>
    {{/each}}
  </div>
</div>
