<div class="content dashboard">
  {{left-menu title="Semester" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}

  <div class="right">
    <div class="dashboard">
      {{#if (eq currentView undefined)}}
        Choose one semester from left.
      {{else}}
        <h2>Selected semester: {{currentView.academicyear}}/{{currentView.academicterm}}</h2>
        <h4>Description:</h4>
        <p>{{currentView.description}}</p>
        <h4>Activate semester</h4>
        <p>
          {{#if currentView.active}}
            Activated
          {{else}}
            Not activated.
          {{/if}}
        </p>
      {{/if}}
    </div>
  </div>
</div>
