<div class="content settings">
  <div class="left">
    <div class='title'>Beállítások</div>
  </div>
  <div class='right'>
    <div class='settings'>
      <div class="text label">e-mail</div>
      {{input type="email" value=user.email placeholder='e-mail'}}

      <div class="text label">régi jelszó</div>
      {{input type="password" value=user.oldpwd placeholder='régi jelszó'}}

      <div class="text label">új jelszó újra</div>
      {{input type="password" value=user.newpwd placeholder='új jelszó újra'}}

      <div class="text label">új jelszó</div>
      {{input type="password" value=user.newpwdagain placeholder='új jelszó'}}

      <div class="text label">mailing list</div>
      <div class='btn-group' {{action 'toggleMailList'}} data-toggle="buttons">
        <label class="btn--toggle {{if mailList 'active'}}">
              {{input type="checkbox"}}
              <span class='label'>subscribe</span>
          </label>
      </div>

      <div class="text label">e-mail notifications</div>
      <div class='btn-group' {{action 'toggleNotifications'}} data-toggle="buttons">
        <label class="btn--toggle {{if notification 'active'}}">
              {{input type="checkbox"}}
              <span>subscribe</span>
          </label>
      </div>

      <div class="text label">ssh publikus kulcs</div>
      {{textarea value=user.ssh class="ssh" cols="9" rows="9" placeholder="ssh publikus kulcs"}}

      <button type="button">Mentés</button>
    </div>
  </div>
</div>
