<div class="content settings">
  {{left-menu title="Settings" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}

  <div class='right'>
    <form class='settings'>
      <div class="text label">username</div>
      <div class="text">{{model.loginName}}</div>
      {{#if (eq currentView 'email')}}
      <div class="text label" for="email">e-mail</div>
      {{input type="email" value=model.email placeholder='e-mail' id='email'}}

      <div class="text label" for="mailinglist">Mailing list</div>
      <button type="button" class="btn--toggle {{if model.subscribedToMailList 'active'}}" {{action 'toggleMailList'}} id="mailinglist">subscribe</button>

      <div class="text label" for="emailnotifications">E-mail notifications</div>
      <button type="button" class="btn--toggle {{if model.subscribedToEmailNotify 'active'}}" {{action 'toggleNotifications'}} id="emailnotifications">subscribe</button>
      {{/if}}
      {{#if (eq currentView 'password')}}

      <div class="text label" for="oldpassword">current password</div>
      {{input type="password" value=model.oldpwd placeholder='current password' id='oldpassword'}}

      <div class="text label" for="newpassword">new password</div>
      {{input type="password" value=model.newpwd placeholder='new password' id='newpassword'}}

      <div class="text label" for="newpassword2">new password again</div>
      {{input type="password" value=model.newpwdagain placeholder='new password again' id="newpassword2"}}

      <!--<div class="text label" for="sshkey">ssh publikus kulcs</div>
      {{textarea value=model.sshPublicKey class="ssh" cols="9" rows="9" placeholder="ssh publikus kulcs" id='sshkey'}}-->
      {{/if}}
      <div>
        <button type="submit" {{action 'save'}}>Save</button>
      </div>
      {{#if error}}
        <div class="error-box">{{error}}</div>
      {{/if}}
      {{#if message}}
        <div class="success-box">{{message}}</div>
      {{/if}}
    </form>
  </div>
</div>
