<div class="content settings">
  {{left-menu title="Beállítások" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}

  <div class='right'>
    <form class='settings'>
      {{#if (eq currentView 'email')}}
      <h4><label for="email">e-mail</label></h4>
      {{input type="email" value=model.email placeholder='e-mail' id='email'}}

      <h4><label for="mailinglist">Levelezési lista</label></h4>
      <button type="button" class="btn--toggle {{if model.subscribedToMailList 'active'}}" {{action 'toggleMailList'}} id="mailinglist">feliratkozás</button>

      <h4><label for="emailnotifications">E-mail értesítések</label></h4>
      <button type="button" class="btn--toggle {{if model.subscribedToEmailNotify 'active'}}" {{action 'toggleNotifications'}} id="emailnotifications">feliratkozás</button>
      {{/if}}
      {{#if (eq currentView 'password')}}

      <h4><label for="oldpassword">jelenlegi jelszó</label></h4>
      {{input type="password" value=model.oldpwd placeholder='jelenlegi jelszó' id='oldpassword'}}

      <h4><label for="newpassword">új jelszó</label></h4>
      {{input type="password" value=model.newpwd placeholder='új jelszó újra' id='newpassword'}}

      <h4><label for="newpassword2">új jelszó újra</label></h4>
      {{input type="password" value=model.newpwdagain placeholder='új jelszó' id="newpassword2"}}

      <h4><label for="sshkey">ssh publikus kulcs</label></h4>
      {{textarea value=model.sshPublicKey class="ssh" cols="9" rows="9" placeholder="ssh publikus kulcs" id='sshkey'}}
      {{/if}}
      {{#if (eq currentView 'style')}}
      <h4>Stílus</h4>
      {{#power-select options=styles selected=selectedStyle onchange=(action "changeStyle") as |style|}}
        {{style.value}}
      {{/power-select}}
      {{/if}}
      <div>
        <button type="submit" {{action 'save'}}>Mentés</button>
      </div>
      {{#if error}}
        <div class="error-box">{{error}}</div>
      {{/if}}
      {{#if message}}
        <div class="success-box">{{message}}</div>
      {{/if}}
    </form>
  </div>
</div>
