<div class="content sql">
  {{left-menu title="SQL" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class="right">
    <form class="sql">
      <div class="text label">SQL query</div>
      {{textarea cols="9" rows="9" placeholder="SQL query" value=sqlText}}
      <button type="submit" {{action "runQuery"}}>Run</button>
    </form>
    {{#unless (or (eq error '') (eq error undefined))}}
      <div class="error-box">
        {{error}}
      </div>
    {{/unless}}
    {{#each data as |row num|}}
      <p>
        {{#each-in row as |key value|}}
          <div>{{key}}: {{value}}</div>
        {{/each-in}}
      </p>
      <hr/>
    {{/each}}
  </div>
</div>
