<div class="content statistics">
  {{left-menu title="Statisztikák" currentView=currentView goToView=(action 'goToView') subMenu=subMenu}}
  <div class='right'>
    <div class='statistics'>
      <div class="statistics-content">
        {{#if selectedMenu.eventTemplateNeeded}}
          <div class="text label">Labor kód:</div>
          {{#power-select options=model.eventTemplates selected=selectedEventTemplate onchange=(action "changeEventTemplate") as |eT|}}
            {{eT.ExerciseCategory.type}}
          {{/power-select}}
        {{/if}}
        {{#if selectedMenu.exerciseTypeNeeded}}
          <div class="text label">Feladattípus:</div>
          {{#power-select options=model.exerciseTypes selected=selectedExerciseType onchange=(action "changeExerciseType") as |eT|}}
            {{eT.shortName}}
          {{/power-select}}
        {{/if}}
        {{table-component header=data.headers rowIndecies=data.rowIndecies body=data.data addClass='statistics-table' }}
        {{#unless (or (eq error '') (eq error undefined))}}
          <div class="error-box">
            {{error}}
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
