<div class="content student">
  <div class="left">
    <div class="title">Hallgató</div>
    <div class="submenu">
      <ul class="student-lab-buttons">
        {{#each subMenu as |menu|}}
          <li>
            <a class="submenu-text {{if (eq menu.key currentView) 'active'}}" {{action 'goToView' menu.key}}>
              {{menu.description}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="student">
      <div class="student-lab-content">
        {{#if currentView}} {{student-laboratory result=(get model.results currentView) selectCommit=(action "selectCommit")}}
        {{else}}
          <div class="title">Válassz egy labort!</div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
